*{
    background-color: rgb(243, 241, 236);
}
.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
  }
  
  .field input {
    display: block;
    min-width: 350px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #10296d;
    color: #fff;
    border: none;
    border-radius: 10px;
  }

.formulario{
  text-align: center;
}